
frameworks/

simulator/


.gitignore~

.idea/.name

.cocos-project.json

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/MyJSGame.iml

.idea/workspace.xml

publish/

res/ScoreLayer1.json

.vscode/launch.json
